.service {
	font-size: 14px;
	line-height: 1.5;
	color: #2F2F2F;
}

.service__icon {
	margin-bottom: 20px;

	@include mobile {
			margin-bottom: 10px;
	}
}

.service__title {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 800;
	line-height: 1;
	color: #000;

	@include tablet {
		margin-bottom: 10px;
		font-size: 18px;
	}
}
